In [4]:
import pandas as pd
data = pd.DataFrame({'A':[1,1,2,2],'B':['a','b','a','b']})
data

   A  B
0  1  a
1  1  b
2  2  a
3  2  b

In [17]:
#DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)
#inplace: inplace : boolean, default False 是直接在原来数据上修改还是保留一个副本
#subset : column label or sequence of labels, optional 用来指定特定的列，默认所有列
#keep : {‘first’, ‘last’, False}, default ‘first’ 删除重复项并保留第一次出现的项
data.drop_duplicates('B','last',inplace=False)

   A  B
2  2  a
3  2  b