In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

labels.csv
sample_submission.csv
test
train

In [4]:
from glob import glob
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf

labels = pd.read_csv("../input/labels.csv")
submi = pd.read_csv("../input/sample_submission.csv")
#getting the all the files
data = pd.DataFrame([{'path': filepath} for filepath in glob("../input/train/*.jpg")])

In [5]:
df = pd.DataFrame()
#reading all the files and converting into matrix form
df['id'] = pd.DataFrame(data['path'].apply(lambda x : x.split('/')[-1].split('.')[0]))
df['value'] = pd.DataFrame(data['path'].apply(lambda x :plt.imread(str(x))))

In [6]:
df.head()

,id,value
0,84accc2dc9f5bb3ebee89fe1bf23639c,"[[[33, 28, 22], [32, 27, 21], [23, 18, 12], [1..."
1,14cffe576239620f1733dfe487dbaa6f,"[[[222, 202, 195], [222, 202, 195], [222, 202,..."
2,cc93915e06bc55626a02af95006a48c2,"[[[245, 253, 255], [245, 253, 255], [245, 253,..."
3,6f9bac41b5be5ee6baecc9e7ef8f2c2a,"[[[99, 140, 196], [99, 140, 196], [99, 140, 19..."
4,64dd586a1d08937d20618233df2e5dbc,"[[[135, 145, 137], [139, 149, 141], [144, 154,..."

In [ ]:
#Getting Breed against Dog id
df['Breed'] = None
for i in range(len(df['id'])):
    df['Breed'].iloc[i] =  labels[labels['id']== df['id'].iloc[i]]['breed'].any()

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(14,10))
a,b = 3,3
for i in range(0,(a*b)):
    #getting random index
    rand_ind = np.random.randint(0,len(df), size= a*b)
    plt.subplot(a,b, i+1)
    plt.imshow(df['value'].iloc[rand_ind[i]])
    plt.title(df['Breed'].iloc[rand_ind[i]])